<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <%- include('nav.html') %>

    <h2>검색 결과 페이지</h2>

    <div style="width:90%; margin:0 auto;">
      <input id="search-input" type="text" style="width:86%; margin-left:2%; height:20px; background-color:#efefef; border:none;">
      <button id="search" style="border:none; vertical-align: middle;">검색</button>
    </div>

    <script>
      $('#search').click(function(){
        let userValue = $('#search-input').val()
        window.location.replace(`/search?value=${userValue}`)
      });
    </script>


    <ul>
        <% for(var i = 0; i < posts.length; i++) { %>
        <li>
          <h4>제목 : <%= posts[i].title %></h4>
          <p>내용 : <%= posts[i].date %> </p>
          <button class="delete" data-id="<%= posts[i]._id %>">삭제</button>
          <button class="edit" data-id="<%= posts[i]._id %>">수정</button>
        </li>
        <% } %>
    </ul>

<script>

  $('.delete').click(function(e){
    var textId = e.target.dataset.id;
    const clickedEl = $(this); 

    $.ajax({
      method : 'DELETE',
      url : '/delete',
      data : {_id : textId},
    }).done(function(res){
      console.log('삭제성공');
      clickedEl.parent('li').fadeOut();

    }).fail(function(){
      console.log('err 400')
    });
  })

  $('.edit').click(function(e){
    var textId = e.target.dataset.id;
    const origin = window.location.origin
    const editUrl = origin +"/edit" + `/${textId}`
    console.log(editUrl)
    location.href = editUrl
  })

</script>
</body>
</html>
<style>
  h2{width:200px; margin: 40px auto 20px;}
  ul{width:90%; margin:0 auto;  padding-left:0px;}
  li{list-style: none; margin:5px; padding:5px; border:1px solid salmon; border-radius:10px;}
  li button{ color:#fff; border:none; cursor:pointer; width:70px; height:30px;}
  .delete{background-color:red;}
  .edit{background-color:blueviolet;}
</style>